$bg-color: #ececec;

$board-bg-color: #a2a8d3;
$square-border-color: #113f67;
$square-allowed: #cc679a;
$square-allowed-hover: #cc679ab2;
$square-text-color: #e7eaf6;

$square-filled: #38598b;
$current-square: #428c58cb;

$game-over-bg-color: #142d4ce9;
