@import "./../../sass/main.scss";

.gameBoardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .x6 {
    .gameRow {
      .gameSquare,
      .gameFilled {
        width: 13vw;
        height: 13vw;
        max-width: 75px;
        max-height: 75px;
        min-width: 45px;
        min-height: 45px;
        font-size: font-sizer(10, 30px);
      }

      .gameAllowed {
        .allowedOverlay {
          max-width: calc(60px * 2);
          max-height: calc(60px * 2);
          min-width: calc(2.38px * 2);
          min-height: calc(2.38px * 2);
          width: calc(11vw * 2);
          height: calc(11vw * 2);
        }
      }
    }
    :nth-child(6) {
      :first-child {
        border-bottom-left-radius: 5.5px;
      }
      :last-child {
        border-bottom-right-radius: 5.5px;
      }
    }
  }

  .x8 {
    .gameRow {
      .gameSquare,
      .gameFilled {
        width: 10vw;
        height: 10vw;
        max-width: 55px;
        max-height: 55px;
        min-width: 35px;
        min-height: 35px;
        font-size: font-sizer(10, 23px);
      }

      .gameAllowed {
        .allowedOverlay {
          max-width: calc(50px * 2);
          max-height: calc(50px * 2);
          min-width: calc(2.38px * 2);
          min-height: calc(2.38px * 2);
          width: calc(10vw * 2);
          height: calc(10vw * 2);
        }
      }
    }
    :nth-child(8) {
      :first-child {
        border-bottom-left-radius: 5.5px;
      }
      :last-child {
        border-bottom-right-radius: 5.5px;
      }
    }
  }

  .x10 {
    .gameRow {
      .gameSquare,
      .gameFilled {
        width: 8vw;
        height: 8vw;
        max-width: 45px;
        max-height: 45px;
        min-width: 28px;
        min-height: 28px;
        font-size: font-sizer(8, 20px);
      }

      .gameAllowed {
        .allowedOverlay {
          max-width: calc(45px * 2);
          max-height: calc(45px * 2);
          min-width: calc(2.38px * 2);
          min-height: calc(2.38px * 2);
          width: calc(8vw * 2);
          height: calc(8vw * 2);
        }
      }
    }
    :nth-child(10) {
      :first-child {
        border-bottom-left-radius: 5.5px;
      }
      :last-child {
        border-bottom-right-radius: 5.5px;
      }
    }
  }

  .gameBoard {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $board-bg-color;
    border: 2px solid $square-border-color;
    border-radius: 8px;
    max-width: 500px;

    .gameRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .gameSquare,
      .gameFilled {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $square-border-color;

        color: $square-text-color;
        font-weight: 600;
        // disable highlighting
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .gFaded {
          color: white;
          opacity: 0.5;
        }
      }

      .gameFilled {
        background-color: $square-filled;
      }

      .currentSquare {
        background-color: $current-square;
      }

      .gameAllowed {
        color: rgba(255, 255, 255, 0.5);
        background-color: $square-allowed;

        .allowedOverlay {
          background-color: $square-allowed;
          opacity: 0.3;
          position: absolute;

          border-radius: 16px;
          box-shadow: 0 0 20px rgba(204, 103, 154, 0.5),
            0 0 20px rgba(204, 103, 154, 0.5), 0 0 20px rgba(204, 103, 154, 0.5),
            0 0 20px rgba(204, 103, 154, 0.5);
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }

    :first-child {
      :first-child {
        border-top-left-radius: 5.5px;
      }
      :last-child {
        border-top-right-radius: 5.5px;
      }
    }
  }
}
